.card-vir{
    width: 800px;
    /* height: 150px; */
    /* border: 1px solid rgb(133, 128, 128); */
}
.card-hor{
    width: 310px;
    /* height: 330px !important; */
}
.read-more{
    color: rgb(192,192,192);
    cursor: pointer;
}